li {
    display: inline-block;
    width: 50%;
} 

/* to syle the nav bar*/
nav {
    display: inline-block;
    width: 80%;
}


/* to syle the img */
nav img {
    width: 10%;
}


/* for grid*/
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around; /* Adjust based on visual needs */
    align-items: center; /* Adjust based on visual needs */
    row-gap: 20px; /* Adjust as needed */
}

/*flex prperty*/
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust based on visual needs */
}

